# AI Community @ Семинар  №3
## Домашнее задание 2
### Базовое решение конкурса

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [2]:
# Считаем данные
train = pd.read_csv('data-train.csv', parse_dates=['Timestamp'])
test = pd.read_csv('data-test.csv', parse_dates=['Timestamp'])

In [3]:
train.head(3)

       ID               Timestamp  Location  Category
0  152187 2016-03-30 12:18:52.537         8         0
1  322276 2016-09-07 17:43:37.960         6         1
2  306252 2016-08-28 09:41:10.850         1         1

In [4]:
test.head(3)

       ID  Location               Timestamp
0  662032         6 2017-08-25 12:02:07.603
1  527522         6 2017-03-11 08:39:41.213
2  443572         6 2016-12-11 13:30:50.660

In [5]:
# Вычленим признаки
train_hour = train.Timestamp.dt.hour
train_minute = train.Timestamp.dt.minute
train_weekday = train.Timestamp.dt.weekday

test_hour = test.Timestamp.dt.hour
test_minute = test.Timestamp.dt.minute
test_weekday = test.Timestamp.dt.weekday

In [6]:
train_features = pd.DataFrame({
    'hour': train_hour,
    'minute': train_minute,
    'location': train.Location,
    #'weekday': train_weekday
})

test_features = pd.DataFrame({
    'hour': test_hour,
    'minute': test_minute,
    'location': test.Location,
    #'weekday': test_weekday
})
train_features.head()

   hour  location  minute
0    12         8      18
1    17         6      43
2     9         1      41
3     9         6       5
4     8         1      36

In [13]:
# Обучим линейную регрессию
clf = LinearRegression()

In [14]:
clf.fit(train_features, train.Category)
regression_result = clf.predict(test_features)
print(np.mean(regression_result))
predicted_categories = (regression_result > np.mean(regression_result)).astype(int)

0.358391582457

In [23]:
import matplotlib.pyplot as plt
plt.plot(regression_result)
#plt.show()
regression_result

array([ 0.25022279,  0.18128044,  0.24101785, ...,  0.25119592,
        0.67013641,  0.09051309])

In [15]:
# Сохраниим предсказания
pd.DataFrame({
    'ID': test.ID,
    'Category': predicted_categories
}).to_csv('submission.csv', index=False, columns=['ID','Category'])